* {
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(38, 34, 51);
}

.header {
    background-color: rgb(36, 40, 72);
    padding: 12px 30px;
    text-align: center;
    font-size: 35px;
    color: #ff1801;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content:first baseline;
  
    }
    

nav {
    float: left;
    text-align: center;
    padding: 30px;
    color: rgb(255, 255, 255);
    width: 30%;
    height: 300px;
    background: rgb(28, 28, 72)
    padding= 10px;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    text-align: left;
}

a {
    color: white;
    
}

a:hover {
    color: red;
}

aside {
    border: 30px;
    float: left;
    padding: 20px;
    width: 70%;
    background-color: rgb(15, 14, 14);
    height: 300px;
    color: white;
}

.pp img{
    display: flex;
    align-items: center;
    width: 50%;
    border-radius: 50% ;
    
}

@media only screen and (max-width:762px){
    section{
        display: flex;
        align-items: center;
    }

    .pp img{
        width:45% ;
        justify-content: left;
    
    align-items: center;
    display: flex;
    text-align: center;

    }

   .header{
    font-size: 30px;
   }
}